

.comment-image {
  height: 50%;
  width: 100%;
}

.comment-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background: url(https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif);
}

.comment-article {
  display: flex;

  flex-flow: column;
  align-items: center;
  margin: 2%;
}

.comment-div {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
.display-comment {
  overflow: auto;
  overflow: auto;
  width: 600px;
  height: 54%;
  margin-top: 10%;
}

.comment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sighting-card {
  background: grey;
  padding: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  border-radius: 1%;
}

h1 {
  margin: 1%;
}
