//-----SCSS Colors--------
$primary: #013054;
$secondary: #93eb91;
$white: #fff;
$black: black;

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url("https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif");
}

.form-container {
  overflow: scroll;
  height: 100vh;
}

.full-form {
  display: flex;
  flex-flow: column;
  background: url(https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif);
  align-items: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 463px;
  background: linear-gradient(
    0deg,
    rgba(130, 74, 121, 1) 34%,
    rgba(104, 92, 152, 1) 68%,
    rgba(18, 103, 150, 1) 95%
  );
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px -1px 27px 3px rgba(186, 200, 227, 0.75);
  -webkit-box-shadow: 0px -1px 27px 3px rgba(186, 200, 227, 0.75);
  -moz-box-shadow: 0px -1px 27px 3px rgba(186, 200, 227, 0.75);
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formPhoto {
  height: 700px;
  width: 475px;
  border-radius: 5px;
  box-shadow: 0px -1px 27px 3px rgba(186, 200, 227, 0.75);
  -webkit-box-shadow: 0px -1px 27px 3px rgba(186, 200, 227, 0.75);
  -moz-box-shadow: 0px -1px 27px 3px rgba(186, 200, 227, 0.75);
}

//--------------Input fields-----------

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
  margin: 20px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $black;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $black;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color: #222222;
}

//--------photo upload---------
.image-upload {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 13%;
}

.upload-btn {
  background-color: black;
  border: none;
  color: white;
  height: 40px;
  margin-top: 20px;
}

.encounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30%;
}

//-----------------button ------------

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
body {
  .container,
  .button,
  .submit,
  .button span {
    position: absolute;
  }
  .container {
    position: relative;
    display: flex;
    width: 170px;

    a:hover {
      .submit {
        bottom: 0px;
        transition: all 1.5s ease-in-out;
      }
      .button {
        transition: all 1.5s ease-in-out;
        box-shadow: 0px 0px 38px 13px #1ece39;
      }
    }
    .submit {
      left: 55px;
      bottom: -59px;
      transition: all 1s ease-in-out;
    }

    .button {
      width: 150px;
      height: 65px;
      background: black;
      border-radius: 2px;
      z-index: 3;
      border: black;
      transition: all 3s ease-in-out;
      display: flex;
      justify-content: center;
      padding: 5px;
      border-radius: 5px;
      span {
        text-align: center;
        line-height: 70px;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;
        color: white;
      }
    }
  }
}
.ufoIcon {
  width: 72px;
  width: 60px;
}

.form-btns {
  display: flex;
  width: 100%;
  place-content: space-evenly;
  margin-top: 23%;
}

.home-btn {
  width: 150px;
  height: 74px;
  background: black;
  border-radius: 2px;
  z-index: 3;
  border: black;
  transition: all 3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  margin-left: -8%;
  color: white;
  font-size: x-large;
}

//----------------drop down menu------------

.drop-down {
  padding: 5px 10px;
  color: #fff;
  text-align: center;
  background: #666666;
  height: 36px;
  display: block;
}
