.site-image {
  height: 400px;
  width: 400px;
}

.button-div {
  display: flex;
}

.map-main {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-div {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}